<!-- Site footer -->
<footer class="footer"></br></br>
  <p>For Queries/Suggestions mail us at : <address>notemaker.by.mohitjindal@gmail.com / jindalmohit64@gmail.com (Developer).</address></p>
  </br>
  <p>&copy; 2019 Note Maker (By Mohit Jindal)</p>
</footer>