<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Hello {{username}} !</h1>
  <p class="lead">You are now logged in !!!</p>
  <a class="btn btn-lg btn-default" href="/users/makenote" role="button">Make Note</a></p>
</div>